
@{
    ViewBag.Title = "SeguimientoCultivoLarval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page content -->
<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>


    <div class="row">


    </div>

</div>
<!-- /page content -->
