
@{
    ViewBag.Title = "SeguimientoMicroAlgas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <h3>@ViewBag.Message</h3>
    <div class="row">
    </div>
</div>

